# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
data base 02June@200309


Project API
Your API is secured behind an API gateway which requires an API Key for every request.
You can use the parameters below to use Supabase client libraries.

Project URL
https://whbhlwimlsuzswmwfzpw.supabase.co

Copy
A RESTful endpoint for querying and managing your database.

Publishable API Key
sb_publishable_d-zCr5BBiABWTwMMqz8T4g_S9T8QX-j
sb_publishable_d-zCr5BBiABWTwMMqz8T4g_S9T8QX-j

Copy
This key is safe to use in a browser if you have enabled Row Level Security (RLS) for your tables and configured policies. You may also use the secret key which can be found here to bypass RLS.


